#veditor {
	background-image: url(https://s2.loli.net/2023/07/09/ifygV1j3sEmqpro.png) !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: right !important;
	background-color: rgba(255, 255, 255, 0) !important;
	resize: vertical !important
}

#veditor:focus{
	background-position-y: 200px !important;
	transition: all 0.6s ease-in-out 0s !important;
}